<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tP_KOKO -->
      <package
            uri="fr.imta.fil.koko"
            class="fr.imta.fil.koko.KokoPackage"
            genModel="model/tP_KOKO.xcore"/>
   </extension>

</plugin>
